ud-banner {
    position: fixed;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 9999;
    cursor: pointer;

    -webkit-transition: top 500ms ease;
    transition: top 500ms ease;
}

.ud-black {
    background: rgb(0, 0, 0);
    color: #ffffff;
}
.ud-black-t {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.ud-dark {
    background: rgb(60, 60, 60);
    color: #ffffff;
}
.ud-dark-t {
    background: rgba(60, 60, 60, 0.5);
    color: #ffffff;
}
.ud-light {
    background: rgb(180, 180, 180);
    color: #3b3b3b;
}
.ud-light-t {
    background: rgba(180, 180, 180, 0.5);
    color: #3b3b3b;
}
.ud-white {
    background: rgb(255, 255, 255);
    color: #000000;
}
.ud-white-t {
    background: rgb(255, 255, 255, 0.5);
    color: #000000;
}
